apiVersion: v1
kind: Pod
metadata:
  name: limit-violation
spec:
  automountServiceAccountToken: false
  securityContext:
    runAsNonRoot: true
    runAsUser: 10001
    seccompProfile:
      type: RuntimeDefault
  containers:
    - name: application
      image: __FORGEPATH_RUNTIME_IMAGE__
      securityContext:
        allowPrivilegeEscalation: false
        capabilities:
          drop: ["ALL"]
      resources:
        requests: {cpu: 100m, memory: 128Mi}
        limits: {cpu: "2", memory: 256Mi}
