apiVersion: v1
kind: Pod
metadata:
  name: restricted-violation
spec:
  automountServiceAccountToken: false
  containers:
    - name: application
      image: __FORGEPATH_RUNTIME_IMAGE__
      securityContext:
        privileged: true
      resources:
        requests: {cpu: 100m, memory: 128Mi}
        limits: {cpu: 500m, memory: 256Mi}
